@import 'reset';
@import 'font-awesome';


/* 共通部分 */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #fafafa;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

/* 各要素 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/*---------- .header ----------*/
.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  z-index: 10;
}
.header__container {
  display: table;
  width: 970px;
  height: 60px;
  margin: 0 auto;
}
.header__logo {
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  height: 40px;
  margin: 0;
}
.header__logo h1 a{
  background-color: pink;
  display: inline-block;
  width: 150px;
  height: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  vertical-align: middle;
  background: url(menumeal_logo_7.png) no-repeat 0 0;
}
.header__menu {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.header__menu li {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.header__menu li::after {
  content: '|';
  display: inline-block;
  padding: 0 5px;
}
.header__menu li:last-of-type::after {
  content: none;
}
.header__menu a {
  color: darkorange;
}
.header__menu a:hover {
  border-bottom: 1px solid darkorange;
}


/* ------- .container ------- */
.main__container {
  width: 970px;
  height: 800px;  /* ←-----------------------------仮のコンテンツの高さ */
  margin: 0 auto;
  background-color: grey;
}
/* ------------ .footer --------- */
.footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
}
.footer__container {
  width: 970px;
  height: 80px;
  margin: 0 auto;
}
.footer__menu {
  height: 60px;
}
.footer__copyright {
  color: grey;

}
